# ─── Auth0 ────────────────────────────────────────────────────────────────────
AUTH0_DOMAIN=postgresql+asyncpg://neondb_owner:npg_nClhj74EWbpu@ep-little-field-aqkkdxyu-pooler.c-8.us-east-1.aws.neon.tech/neondb

AUTH0_CLIENT_ID=5u12TiQfc9BIsOEInJTQVrt2rGrW0hwR
AUTH0_CLIENT_SECRET=8W-i8_9435qHE_GbPWBYOlU8WB9gE1FBMgZ6OfdwTT6Ac8vpK7R3vsb8a_7fgVP_
AUTH0_AUDIENCE=https://your-api-identifier

# ─── App ──────────────────────────────────────────────────────────────────────
# Backend URL — used for Auth0 callback registration
APP_BASE_URL=https://your-backend.onrender.com
# Frontend URL — used for post-login redirect, logout redirect, and CORS
FRONTEND_URL=http://localhost:5173
SECRET_KEY=change_me_to_a_long_random_string

# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_nClhj74EWbpu@ep-little-field-aqkkdxyu-pooler.c-8.us-east-1.aws.neon.tech/neondb


# ─── Cloudinary ───────────────────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ─── Squadco ──────────────────────────────────────────────────────────────────
SQUAD_SECRET_KEY=sandbox_sk_your_key_here
SQUAD_SECRET_HASH=your_webhook_secret_hash
SQUAD_TEST_MODE=true
